/* Font modifications to all heading 1's */
h1 {
    color:white;
    font-family: monospace;
    font-size: 2.5rem;
}

/* Font modifications to all heading 2's */
h2 {
    color:grey;
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-style: italic;
    font-variant: small-caps;
}

/* Changes all the links to orange color */
a {
    color:darkorange;
    font-family: monospace;
    font-size: 0.85rem;
    
}

/* Makes all text on every page centered and bg color */
body {
    text-align: center;
    background: url("../images/test1.gif");
    background-repeat: no-repeat;
    width: 100vw;
}



/* This is for the image border on the home page */
#border {
    border: 0.2rem solid darkorange;
    width: 33vw;
}

div {
    word-spacing: 2rem;
}


